<div class="row" style="text-align:center;">
    <div class="col-md-6 portfolio-item" style="background-color:white; ">
		<%= image_tag("logo_arduino.png", size: "150x140", alt: "Arduino") %>
		<%= link_to 'Código fuente', "https://github.com/Ligator/PeopleCounter-Devices/tree/master/PeopleCounter%20for%20Arduino", target: "_blank" %>
		<br><br>
	</div>
    <div class="col-md-6 portfolio-item" style="background-color:white; ">
		<%= image_tag("logo-raspberrypi.png", size: "100x120", alt: "Raspberry Pi") %>
		<%= link_to 'Código fuente', "https://github.com/Ligator/PeopleCounter-Devices/tree/master/PeopleCounter%20for%20RPi", target: "_blank" %>
		<br><br>
	</div>
</div>

<br><br>
<div class="row">
    <div class="col-md-6 portfolio-item" style="background-color:white; text-align:center;">
		<%= image_tag("esq_arduino.jpg", size: "350x340", alt: "Arduino") %>
	</div>
    <div class="col-md-6 portfolio-item" style="background-color:white; ">
		<%= GitHub::Markdown.render_gfm(
"
**Lista de materiales usados en la demostración:** 

* 2 Arduinos UNO
* 2 Wiznet Ethernet shield
* 4 Leds infrarrojos
* 4 FotoTransistores
* 4 Resistencias 220
* 4 Resistencias 2.2K
* 4 terminales de 2 entradas
* 1 Fuente DC a 5V
* 2 m cable cal22
* 2 Duelas 3x1pulg
* 2 Duelas 2x1pulg
* 16 pijas 1 1/2 pulg
").html_safe %>
	</div>
</div>

<br><br>
Si deseas conectar tu propio dispositivo que se comunique con esta página, aquí está la documentación necesaria:

<%= GitHub::Markdown.render_gfm(File.read("#{Rails.root}/public/api-doc-sensores.md")).html_safe %>

